
@use "./../abstract";


.post-categories{
    & a{
        padding: 10px 20px;
        border-radius: 30px;
        border: 1px solid $border-color;
        font-weight: 600;
        line-height: 20px;
        color: $white-color;
    }
}

.agenko-blog-item{
    &.style-one{
        position: relative;
        background-color: $gray-dark;
        padding: 0 30px;
        &:hover{
            & .post-hover-wrap{
                visibility: visible;
                opacity: 1;
            }
        }
        & .post-hover-wrap{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 60px 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            visibility: hidden;
            opacity: 0;
            transition: all .3s;
            @include respond(phone){
                display: none;
            }
        }
        & .post-inner-wrap{
            padding: 60px 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            @include respond(medium){
                flex-direction: column;
            }
        }
        & .author-item{
            width: 20%;
            @include respond(medium){
                width: 100%;
            }
            & .author-thumb{
                @include respond(tablet){
                    align-items: flex-start;
                    margin-bottom: 10px;
                }
            }
            @include respond(tablet){
                align-items: flex-start;
                flex-direction: column;
            }
        }
        & .post-content{
            width: 60%;
            padding: 0 30px;
            @include respond(medium){
                width: 100%;
                padding: 25px 0;
            }
            & .post-categories{
                @include respond(phone){
                    padding: 20px 0;
                }
            }
            & h3.title{
                margin-bottom: 15px;
                &:hover{
                    color: $primary-color;
                }
            }
        }
        & .post-date{
            display: flex;
            align-items: center;
            width: 20%;
            @include respond(medium){
                width: 100%;
            }
            & i{
                flex: 0 0 auto;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $white-color;
                background-color: rgba(255, 255, 255, 0.10);
                border: 1px solid rgba(26, 26, 26, 0.20);
                margin-right: 15px;
            }
        }
    }
    &.style-two{
        background-color: $gray-dark;
        display: flex;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
        @include respond(phone){
            flex-direction: column;
            align-items: flex-start;
        }
        & .post-thumbnail{
            flex: 0 0 auto;
            max-width: 260px;
            margin-right: 30px;
            & img{
                border-radius: 7px;
            }
            @include respond(phone){
                margin-bottom: 25px;
                max-width: 100%;
                margin-right: 0;
                & img{
                    width: 100%;
                }
            }
        }
        & .post-content{
            & .post-categories{
                margin-bottom: 15px;
                & a{
                    padding: 9px 20px;
                    line-height: 20px;
                    border: 1px solid $border-color;
                    border-radius: 30px;
                }
            }
            & h4.title{
                margin-bottom: 15px;
                &:hover{
                    color: $primary-color;
                }
            }
            & p{
                margin-bottom: 10px;
            }
        }
    }
    &.style-three{
        &:hover{
            & .post-button{
                & .icon-btn{
                    &.style-one{
                        background-color: $primary-color;
                        color: $heading-color;
                        & i{
                            transform: rotate(-45deg);
                        }
                    }
                }
            }
        }
        & .post-content-wrap{
            display: flex;
            align-items: center;
        }
        & .post-thumbnail{
            & img{
                width: 100%;
            }
        }
        & .post-content{
            padding-top: 20px;
            flex-grow: 1;
            padding-right: 30px;
            & h4.title{
                &:hover{
                    color: $primary-color;
                }
                @include respond(tablet){
                    font-size: 20px;
                    line-height: 30px;
                }
                @include respond(medium){
                    font-size: 20px;
                    line-height: 30px;
                }
            }
        }
        & .post-meta{
            & span{
                margin-bottom: 5px;
                &:not(:last-child){
                    &:after{
                        display: inline-block;
                        content: '';
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: rgba(255, 255, 255, 0.50);
                        vertical-align: middle;
                        margin-left: 10px;
                        margin-right: 8px;
                    }
                }
            }
        }
    }
    &.style-four{
        & .post-thumbnail{
            & img{
                width: 100%;
            }
        }
        & .post-content{
            padding-top: 25px;
            & .post-meta{
                & span{
                    margin-bottom: 10px;
                    &:not(:last-child){
                        margin-right: 15px;
                    }
                    & i{
                        margin-right: 10px;
                    }
                    &:last-child{
                        float: right;
                    }
                }
            }
            & h4.title{
                margin-bottom: 15px;
                &:hover{
                    color: $primary-color;
                }
                @include respond(medium){
                    font-size: 20px;
                    line-height: 30px;
                }
            }
        }
    }
}