/*---- 
====================
3. Components CSS
    # Header CSS
====================

----*/ 

@use "./../abstract";


/*  Transparent Header  */ 

.transparent-header {
    position: absolute;
    background-color: transparent;
    top: 30px;
    left: 0;
    width: 100%;
    z-index: 999;
}

/*  Header Area */ 

.header-area{
    position: relative;
    z-index: 9999;
}


/* Header Navigation */

.header-navigation{
    & .primary-menu{
        display: flex;
        align-items: center;
    }
    & .site-branding{
        max-width: 160px;
        line-height: 1;
        border: 1px solid $border-color;
        text-align: center;
        padding: 3px 5px;
        border-radius: 40px;
        & a{
            line-height: 1;
        }
    }
    & .pf-nav-menu{
        padding: 5px;
        border-radius: 40px;
        border: 1px solid $border-color;
        background: #0E0F11;
        margin-left: 30px;
        @include respond(medium){
            margin-left: 0;
        }
    }
    & .main-menu{
        & ul{
            & > li{
                display: inline-block;
                position: relative;
                & > a {
                    position: relative;
                    display: block;
                    font: 600 16px $heading-font;
                    text-transform: capitalize;
                    line-height: 1;
                    color: $white-color;
                    padding: 11px 20px;
                    border-radius: 40px;
                    line-height: 14px;
                    & span.dd-trigger{
                        margin-left: 5px;
                    }
                }
                & .sub-menu {
                    position: absolute;
                    left: 0;
                    top: 120%;
                    width: 250px;
                    opacity: 0;
                    visibility: hidden;
                    transition: all 0.2s;
                    z-index: 99;
                    padding: 10px 10px;
                    background-color: #0E0F11;
                    height: auto;
                    text-align: left;
                    box-shadow: 0px 30px 80px 15px rgba(0, 0, 0, 0.09);
                    border-radius: 7px;
                    & li {
                        display: block;
                        margin: 0;
                        & a {
                            display: flex;
                            align-items: center;
                            padding: 0 15px;
                            position: relative;
                            line-height: 2.5;
                            margin: 0;
                            color: $white-color;
                            @include transition(.3s);
                            & span.dd-trigger{
                                margin-left: auto;
                            }
                            &:hover {
                                color: $primary-color;
                            }
                        }
                        & .sub-menu {
                            left: 100%;
                            top: 50%;
                            @include respond(tablet){
                                left: auto;
                                right: 100%;
                                top: 50%;
                            }
                            @include respond(laptop){
                                left: auto;
                                right: 100%;
                                top: 50%;
                            }
                        }
                        &:hover {
                            & .sub-menu {
                                top: 0%;
                            }
                            & > a{
                                color: $primary-color;
                            }
                        }
                    }
                }
                &:hover {
                    & > a{
                        color: $primary-color;
                        background-color: #18191B;
                    }
                    & > .sub-menu {
                        opacity: 1;
                        visibility: visible;
                        top: 115%;
                    }
                }
            }
		}
    }
    & .navbar-toggler {
		padding: 11px 7px;
		border: 1px solid rgba(255, 255, 255, .7);
		background-color: transparent;
		cursor: pointer;
        display: none;
        border-radius: 5px;
        margin-left: 20px;
		& span {
			position: relative;
			border-radius: 3px;
			display: block;
			height: 2px;
			padding: 0;
			width: 30px;
			cursor: pointer;
			display: block;
            @include transition(.3s);
            background-color: rgba(255, 255, 255, .5);
            &:not(:first-child){
                margin-top: 5px;
            }
		}
		&.active {
			span:nth-of-type(1) {
				transform: rotate3d(0, 0, 1, 45deg);
				top: 7px;
			}
			span:nth-of-type(2) {
				opacity: 0;
			}
			span:nth-of-type(3) {
				transform: rotate3d(0, 0, 1, -45deg);
				top: -7px;
			}
		}
	}
    @include respond(medium){
        & .pf-nav-menu{
            text-align: left;
            position: fixed;
            top: 0;
            left: -290px;
            width: 290px;
            height: 100%;
            transition-duration: 500ms;
            padding: 20px 20px 30px;
            display: block;
            overflow-x: hidden;
            overflow-y: scroll;
            z-index: 9999;
            border-radius: 0;
            background-color: $primary-black-color;
            &.menu-on {
                left: 0;
            }
            & .site-branding{
                margin: 0 auto 20px;
            }
            & .main-menu {
                margin-top: 30px;
                & ul li {
                    display: block;
                    margin: 0;
                    &:not(:last-child){
                        border-bottom: 1px solid $border-color;
                    }
                    & a {
                        display: block;
                        padding: 12px 0;
                        font-size: 18px;
                        &:after{
                            display: none;
                        }
                    }   
                    & .sub-menu {
                        width: 100%;
                        position: relative;
                        top: 0;
                        left: 0;
                        padding: 0;
                        box-shadow: none;
                        background-color: transparent;
                        visibility: visible;
                        opacity: 1;
                        display: none;
                        transition: none;
                        & > li {
                            & > a{
                                padding: 5px 20px;
                                color: $white-color;
                            }
                            & .sub-menu{
                                width: 100%;
                                position: relative;
                                top: 0;
                                left: 0;
                                padding: 0;
                                box-shadow: none;
                                background-color: transparent;
                                visibility: visible;
                                opacity: 1;
                                display: none;
                                transition: none;
                                margin-left: 30px;
                            }
                        }
                    }
                    & .dd-trigger {
                        position: absolute;
                        right: 0;
                        top: 10px;
                        height: 25px;
                        width: 25px;
                        border-radius: 3px;
                        z-index: 2;
                        cursor: pointer;
                        font-size: 16px;
                    }
                }
            }
        }
        & .navbar-close{
            width: 35px;
            height: 35px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid $border-color;
            font-size: 16px;
        }
        & .navbar-toggler{
            display: block;
        }
        & .pf-nav-button{
            & .theme-btn{
                &.style-one{
                    padding: 10px 40px;
                }
            }
        }
        & .pf-menu-bottom{
            & h5{
                margin-bottom: 25px;
            }
            & .social-link{
                & li{
                    display: inline-block;
                    margin-right: 10px;
                    & a{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        border: 1px solid $border-color;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &:hover{
                            background-color: $primary-color;
                            color: $white-color;
                        }
                    }
                }
            }
        }
    }
}



.nav-right-item{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}


.header-one{
    &.transparent-header{
        top: 30px;
    }
}