

@use "./../abstract";


.author-item{
    display: inline-flex;
    align-items: center;
    & .author-thumb{
        flex: 0 0 auto;
        width: 70px;
        height: 70px;
        margin-inline-end: 15px;
        object-fit: cover;
        & img{
            width: 100%;
            border-radius: 50%;
        }
    }
    & .author-info{
        & h4{
            margin-bottom: 10px;
        }
        & h5{
            color: $text-color;
            font-weight: 500;
        }
    }
}


.agenko-testimonial-item{
    &.style-one{
        & .testimonial-content{
            & ul.ratings{
                margin-bottom: 20px;
                & li{
                    color: $primary-color;
                    font-size: 30px;
                }
            }
            & p{
                font: 700 24px $heading-font;
                color: $white-color;
                margin-bottom: 40px;
                @include respond(phone){
                    font-size: 16px;
                }
            }
            & .author-item-quote{
                & .quote{
                    & i{
                        font-size: 30px;
                        color: $primary-color;
                    }
                }
            }
        }
    }
    &.style-two{
        & .testimonial-content{
            & ul.ratings{
                margin-bottom: 40px;
            }
            & p{
                font: 700 27px $heading-font;
                font-style: italic;
                line-height: 1.3;
                margin-bottom: 30px;
                @include respond(phone){
                    font-size: 24px;
                }
            }
        }
    }
    &.style-three{
        & .testimonial-content{
            & ul.ratings{
                margin-bottom: 22px;
                & li{
                    & i{
                        color: $primary-color;
                    }
                }
            }
            & p{
                line-height: 45px;
                font: 500 32px $heading-font;
                margin-bottom: 40px;
                @include respond(tablet){
                    font-size: 22px;
                    line-height: 35px;
                }
                @include respond(medium){
                    font-size: 18px;
                    line-height: 30px;
                }
                @include respond(sm-phone){
                    font-size: 15px;
                    line-height: 25px;
                }
            }
        }
    }
}