/*!
*    ______ _       _   _
*    |  ____| |     | | (_)
*    | |__  | | __ _| |_ _  ___ ___  _ __
*    |  __| | |/ _` | __| |/ __/ _ \| '_ \
*    | |    | | (_| | |_| | (_| (_) | | | |
*    |_|    |_|\__,_|\__|_|\___\___/|_| |_|
*
*         https://www.flaticon.com
*/

@font-face {
    font-family: "flaticon_agenko";
    src: url("./flaticon_agenko.woff2?7426fa73335dcb65ec2f8016e25c2267") format("woff2"),
url("./flaticon_agenko.woff?7426fa73335dcb65ec2f8016e25c2267") format("woff"),
url("./flaticon_agenko.eot?7426fa73335dcb65ec2f8016e25c2267#iefix") format("embedded-opentype"),
url("./flaticon_agenko.ttf?7426fa73335dcb65ec2f8016e25c2267") format("truetype"),
url("./flaticon_agenko.svg?7426fa73335dcb65ec2f8016e25c2267#flaticon_agenko") format("svg")
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_agenko !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-social-media-marketing:before {
    content: "\f101";
}
.flaticon-ux-design:before {
    content: "\f102";
}
.flaticon-web-developer:before {
    content: "\f103";
}
.flaticon-graphic-design:before {
    content: "\f104";
}
.flaticon-plus-sign:before {
    content: "\f105";
}
.flaticon-play:before {
    content: "\f106";
}
.flaticon-group:before {
    content: "\f107";
}
.flaticon-logo:before {
    content: "\f108";
}
.flaticon-search-user:before {
    content: "\f109";
}
.flaticon-vector:before {
    content: "\f10a";
}
.flaticon-implementation:before {
    content: "\f10b";
}
.flaticon-exam:before {
    content: "\f10c";
}
.flaticon-quote:before {
    content: "\f10d";
}
.flaticon-sparkle:before {
    content: "\f10e";
}
.flaticon-check:before {
    content: "\f10f";
}
.flaticon-inverted-commas:before {
    content: "\f110";
}
.flaticon-facebook:before {
    content: "\f111";
}
.flaticon-instagram:before {
    content: "\f112";
}
.flaticon-twitter:before {
    content: "\f113";
}
.flaticon-calendar:before {
    content: "\f114";
}
.flaticon-mail-account:before {
    content: "\f115";
}
.flaticon-minimize-sign:before {
    content: "\f116";
}
.flaticon-analytics:before {
    content: "\f117";
}
.flaticon-quality-test:before {
    content: "\f118";
}
.flaticon-vector-1:before {
    content: "\f119";
}
.flaticon-check-1:before {
    content: "\f11a";
}
.flaticon-check-2:before {
    content: "\f11b";
}
.flaticon-phone-receiver-silhouette:before {
    content: "\f11c";
}
.flaticon-search:before {
    content: "\f11d";
}
.flaticon-text:before {
    content: "\f11e";
}
.flaticon-user:before {
    content: "\f11f";
}
.flaticon-book:before {
    content: "\f120";
}
.flaticon-right-arrow:before {
    content: "\f121";
}
.flaticon-web-development:before {
    content: "\f122";
}
.flaticon-announcement:before {
    content: "\f123";
}
.flaticon-cloud-computing:before {
    content: "\f124";
}
.flaticon-idea:before {
    content: "\f125";
}
.flaticon-portfolio:before {
    content: "\f126";
}
.flaticon-network:before {
    content: "\f127";
}
.flaticon-branding:before {
    content: "\f128";
}

